{#
/**
 * @file
 * umdlib-calendar-block template
 *
 * Variables:
 *   - events
 */
#}
{% if events|length > 0 %}
  {% embed 'umdlib_umdds:umd-libraries-layout' with { columns: '3' } %}
    {% block components %}
      {% for event in events %}
        {% embed 'umdlib_umdds:umd-libraries-event' with {
            homepage_events: true,
            event_title: event.title,
            event_date: event.date,
            event_time: event.hour,
            event_url: event.url,
            event_description: event.description,
            event_location: event.location
          }
        %}
          {% block event_date %}{{ event.date }}{% endblock %}
          {% block event_time %}{{ event.hour }}{% endblock %}
          {% block event_title %}{{ event.title }}{% endblock %}
          {% block event_url %}{{ event.url }}{% endblock %}
          {% block event_description %}{{ event.description }}{% endblock %}
          {% block event_location %}{{ event.location }}{% endblock %}
        {% endembed %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
{% else %}
  <p class="t-body-medium s-stack-medium">Nothing on the calendar just yet — check back soon!</p>
{% endif %}
